# A clang-format style that approximates Python's PEP 7
# Useful for IDE integration
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#configurable-format-style-options
Language: Cpp
BasedOnStyle: Google

AlignAfterOpenBracket: Align
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterReturnType: None # Don't break after return type
BreakBeforeBraces: Stroustrup
ColumnLimit: 120
DerivePointerAlignment: false
IndentWidth: 4
PointerAlignment: Right
ReflowComments: true
SortIncludes: false # Sorting includes breaks build
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
TabWidth: 4
UseTab: Never
