# A clang-format style that approximates Python's PEP 7
# Useful for IDE integration
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#configurable-format-style-options
Language: Cpp
BasedOnStyle: Google

AlignAfterOpenBracket: Align
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterReturnType: None # Don't break after return type
BreakBeforeBraces: Stroustrup
ColumnLimit: 120
DerivePointerAlignment: false
IndentWidth: 4
PointerAlignment: Right
ReflowComments: true
SortIncludes: false # Sorting includes breaks build
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
TabWidth: 4
UseTab: Never
StatementMacros:
  - PYWIN_MODULE_INIT_RETURN_ERROR
  - PYWIN_MODULE_INIT_RETURN_SUCCESS
  - PY_INTERFACE_POSTCALL
  - PY_INTERFACE_PRECALL
  - PyW32_BEGIN_ALLOW_THREADS
  - PyW32_END_ALLOW_THREADS
