#
# MANIFEST.in
#
# Manifest template for creating the pywin32 source distribution.

include MANIFEST.in
include pywin32.pth
include setup.py
include setup3.py
include pywin32_postinstall.py
include pywin32_testall.py
# don't know how to include "Python and Extensions.dsw" - spaces upset things
# Core win32 stuff
include win32/src/*.rc
include win32/scripts/*.py
include win32/help/*.d
include win32/help/*.html
include win32/test/*.py
include win32/test/win32rcparser/test.rc
include win32/test/win32rcparser/test.h
include win32/test/win32rcparser/python.ico
include win32/test/win32rcparser/python.bmp
include win32/Demos/*.py
include win32/Demos/security/*.py
include win32/Demos/security/sspi/*.py
include win32/Demos/images/*.bmp
include win32/src/*.h
include win32/src/*.manifest
include win32/src/PerfMon/perfmondata.def
include win32/src/PerfMon/*.h
include win32/src/win32crypt/*.h
include win32/src/win32net/*.h
include win32/src/win32wnet/*.h
include win32/License.txt
# COM
include com/pythoncom.py
include com/win32com/src/include/*.h
include com/win32com/src/PythonCOM.def
include com/win32com/src/PythonCOMLoader.def
include com/win32com/src/PythonCOMLoader.cpp
include com/win32com/readme.htm
include com/win32com/HTML/*.html
include com/win32com/HTML/image/*.gif
include com/win32com/test/*.idl
include com/win32com/test/*.js
include com/win32com/test/*.sct
include com/win32com/test/*.txt
include com/win32com/test/*.vbs
include com/win32com/test/*.xsl

include com/License.txt
include com/*.dsp
include com/win32comext/axscript/src/*.h
include com/win32comext/axscript/src/*.H
include com/win32comext/axscript/test/*.py
include com/win32comext/axscript/test/*.pys
include com/win32comext/axscript/test/*.vbs
include com/win32comext/axscript/test/*.BAT
include com/win32comext/axscript/test/*.html
include com/win32comext/axscript/demos/client/asp/*.asp
include com/win32comext/axscript/demos/client/asp/interrupt/*.asp
include com/win32comext/axscript/demos/client/asp/interrupt/*.html
include com/win32comext/axscript/demos/client/ie/*.HTM
include com/win32comext/axscript/demos/client/ie/*.htm
include com/win32comext/axscript/demos/client/ie/*.gif
include com/win32comext/axscript/demos/client/wsh/*.pys
include com/win32comext/axdebug/src/*.h
include com/win32comext/adsi/src/*.h
include com/win32comext/adsi/demos/*.py
include com/win32comext/authorization/demos/*.py
include com/win32comext/authorization/src/*.h
include com/win32comext/axcontrol/src/*.h
include com/win32comext/bits/src/*.h
include com/win32comext/bits/test/*.py
include com/win32comext/internet/src/*.h
include com/win32comext/mapi/src/mapilib.i
include com/win32comext/mapi/src/*.h
include com/win32comext/mapi/demos/*.py
include com/win32comext/propsys/test/*.py
include com/win32comext/propsys/src/*.h
include com/win32comext/shell/src/*.h
include com/win32comext/shell/demos/servers/*.py
include com/win32comext/shell/demos/servers/*.propdesc
include com/win32comext/shell/demos/*.py
include com/win32comext/shell/test/*.py
include com/win32comext/taskscheduler/src/*.h
include com/win32comext/taskscheduler/test/*.py
include com/win32comext/ifilter/src/*.h
include com/win32comext/ifilter/demo/*.py
include com/win32comext/directsound/src/*.h
include com/win32comext/directsound/test/*.py
include com/win32comext/directsound/test/*.wav

# Pythonwin
include Pythonwin/pythonwin.cpp
include Pythonwin/pythonwin.rc
include Pythonwin/stdafxpw.cpp
include Pythonwin/*.dsp
include Pythonwin/*.h
include Pythonwin/res/*.ico
include Pythonwin/res/*.ICO
include Pythonwin/res/*.bmp
include Pythonwin/res/*.BMP
include Pythonwin/pywin/*.cfg
include Pythonwin/pywin/Demos/*.py
include Pythonwin/pywin/Demos/*.txt
include Pythonwin/pywin/Demos/app/*.py
include Pythonwin/pywin/Demos/app/*.txt
include Pythonwin/pywin/Demos/ocx/*.py
include Pythonwin/License.txt
# scintilla
include Pythonwin/Scintilla/README*
include Pythonwin/Scintilla/License.txt
include Pythonwin/Scintilla/makefile_pythonwin
include Pythonwin/Scintilla/update.bat
include Pythonwin/Scintilla/include/*
include Pythonwin/Scintilla/src/*
include Pythonwin/Scintilla/win32/*.cxx
include Pythonwin/Scintilla/win32/*.h
include Pythonwin/Scintilla/win32/*.rc
include Pythonwin/Scintilla/win32/*.def
include Pythonwin/Scintilla/win32/*.mak
include Pythonwin/Scintilla/win32/*.cur

# ISAPI
include isapi/doc/*.html
include isapi/*.txt
include isapi/samples/*.py
include isapi/samples/*.txt
include isapi/test/*.py
include isapi/test/*.txt

include isapi/src/*.h

# adodbapi
include adodbapi/*.txt
include adodbapi/tests/*.py
include adodbapi/tests/*.bat

# Other tools
include SWIG/swig.exe
include SWIG/readme.txt
include SWIG/swig_lib/*.i
include SWIG/swig_lib/*.swg
include SWIG/swig_lib/python/*.i
include SWIG/swig_lib/python/*.swg

include AutoDuck/*
include AutoDuck/bin/*
