#
# MANIFEST.in
#
# Manifest template for creating the pywin32 source distribution.

include MANIFEST.in
include pywin32.pth
# while we have setup.py and setup_win32all.py, distutils will miss whatever
# one was not used!
include setup_win32all.py
include setup.py
# don't know how to include "Python and Extensions.dsw" - spaces upset things
# Core win32 stuff
include win32/src/*.rc
include win32/src/win32popenWin9x.cpp
include win32/scripts/*.py
include win32/test/*.py
include win32/Demos/*.py
include win32/Demos/security/*.py
include win32/Demos/security/sspi/*.py
include win32/src/*.h
include win32/src/*.manifest
include win32/src/PerfMon/perfmondata.def
include win32/src/dbi.def
include win32/*.dsp
include win32/License.txt
# COM
include com/pythoncom.py
include com/win32com/src/*.h
include com/win32com/src/PythonCOM.def
include com/win32com/readme.htm
include com/win32com/HTML/*.html
include com/win32com/HTML/image/*.gif
include com/License.txt
include com/*.dsp
include com/win32comext/axscript/src/*.h
include com/win32comext/axscript/src/*.H
include com/win32comext/axscript/test/*.py
include com/win32comext/axscript/test/*.pys
include com/win32comext/axscript/test/*.vbs
include com/win32comext/axscript/test/*.BAT
include com/win32comext/axscript/test/*.html
include com/win32comext/axscript/demos/client/asp/*.asp
include com/win32comext/axscript/demos/client/asp/interrupt/*.asp
include com/win32comext/axscript/demos/client/asp/interrupt/*.html
include com/win32comext/axscript/demos/client/ie/*.HTM
include com/win32comext/axscript/demos/client/ie/*.htm
include com/win32comext/axscript/demos/client/ie/*.gif
include com/win32comext/axscript/demos/client/wsh/*.pys
include com/win32comext/axdebug/src/*.h
include com/win32comext/adsi/src/*.h
include com/win32comext/adsi/demos/*.py
include com/win32comext/axcontrol/src/*.h
include com/win32comext/internet/src/*.h
include com/win32comext/mapi/src/*.h
include com/win32comext/shell/src/*.h
include com/win32comext/mapi/demos/*.py
include com/win32comext/shell/demos/servers/*.py
include com/win32comext/shell/demos/*.py
include com/win32comext/shell/test/*.py
include com/win32comext/taskscheduler/src/*.h
include com/win32comext/taskscheduler/test/*.py
include com/win32comext/ifilter/src/*.h
include com/win32comext/ifilter/demo/*.py
include com/win32comext/directsound/src/*.h
include com/win32comext/directsound/test/*.py
include com/win32comext/directsound/test/*.wav

# Pythonwin
include pythonwin/pythonwin.cpp
include pythonwin/pythonwin.rc
include pythonwin/stdafxpw.cpp
include pythonwin/*.dsp
include pythonwin/*.h
include pythonwin/res/*.ico
include pythonwin/res/*.ICO
include pythonwin/res/*.bmp
include pythonwin/res/*.BMP
include pythonwin/pywin/*.cfg
include pythonwin/pywin/Demos/*.py
include pythonwin/pywin/Demos/*.txt
include pythonwin/pywin/Demos/app/*.py
include pythonwin/pywin/Demos/app/*.txt
include pythonwin/pywin/Demos/ocx/*.py
include pythonwin/License.txt
# scintilla
include pythonwin/Scintilla/README*
include pythonwin/Scintilla/License.txt
include pythonwin/Scintilla/makefile_pythonwin
include pythonwin/Scintilla/update.bat
include pythonwin/Scintilla/include/*
include pythonwin/Scintilla/src/*
include pythonwin/Scintilla/win32/*.cxx
include pythonwin/Scintilla/win32/*.h
include pythonwin/Scintilla/win32/*.rc
include pythonwin/Scintilla/win32/*.def
include pythonwin/Scintilla/win32/*.mak
include pythonwin/Scintilla/win32/*.cur

# ISAPI
include isapi/doc/*.html
include isapi/*.txt
include isapi/samples/*.py
include isapi/samples/*.txt
include isapi/test/*.py
include isapi/test/*.txt

include isapi/src/*.h

# Other tools
include SWIG/swig.exe
include SWIG/readme.txt
include SWIG/swig_lib/*.i
include SWIG/swig_lib/*.swg
include SWIG/swig_lib/python/*.i
include SWIG/swig_lib/python/*.swg

include AutoDuck/*
include AutoDuck/bin/*
