target-version = "py39" # Target the oldest supported version
extend-include = [
  "*.pyw", # Will be included by default in Ruff eventually
  "*.pys", # PythonScript (Windows Script Host)
  # Can be uncommented to format the [Extensions] section
  # "**/default.cfg",
]
# This file is not UTF-8
extend-exclude = ["Pythonwin/pywin/test/_dbgscript.py"]

[format]
line-ending = "cr-lf"

[lint]
future-annotations = true
select = [
  "B028", # no-explicit-stacklevel
  "C4", # flake8-comprehensions
  "F401", # unused-import
  "F811", # redefined-while-unused
  "I", # isort
  "PLC", # Pylint Convention
  "PLE", # Pylint Error
  "RSE", # flake8-raise
  "W", # pycodestyle Warning
  "YTT", # flake8-2020

  # String formatting, concatenating, interpolation, ...
  "FLY", # static-join-to-f-string
  "G", # flake8-logging-format

  # Ensure modern type annotation syntax and best practices
  # Not including those covered by type-checkers or exclusive to Python 3.11+
  "FA", # flake8-future-annotations
  "F404", # late-future-import
  "PYI", # flake8-pyi

  # Code modernization (strings, annotations, conditions, ...)
  "UP", # pyupgrade

  # Helps prevent circular imports and other unneeded imports
  "TC", # flake8-type-checking
]
extend-ignore = [
  # We prefer explicit open mode parameter
  "UP015", # redundant-open-modes
  # No such concerns for stdlib
  "TC003", # typing-only-standard-library-import
  # Lots of lazy or side-effect imports
  "PLC0415", # import-outside-top-level
  # TODO: Consider passing exception around to ensure methods are only ever used within exception handlers
  "PLE0704", # misplaced-bare-raise
  # TODO: Still lots of manual fixes needed
  "UP031", # Use format specifiers instead of percent format
  "UP032", # Use f-string instead of format call
]

[lint.per-file-ignores]
# TODO: Make adodbapi changes in their own PRs
"adodbapi/*" = [
  "C4",
  # Dropping Python 3.8 support
  "UP005",
  "UP006",
  "UP018",
  "UP035",
  "UP036",
  "YTT301",
]

[lint.pyflakes]
allowed-unused-imports = [
  # Modules with known side-effects
  "coloreditor", # Adds doc template
  "IDLEenvironment", # Injects fast_readline into the IDLE auto-indent extension
  "pythoncom", # pythoncomXX.dll loader
  "pywintypes", # pywintypesXX.dll loader
  "win32com", # Sets pythoncom.frozen and adds modules to path based on the registry
  "win32traceutil", # Redirects output to win32trace remote collector
  "win32ui", # Must always be imported before dde
  # Note: com/win32com/client/gencache.py does read files on import, but only to fill in it's own dicts from cache
]

[lint.isort]
combine-as-imports = true
# Because pywin32 has a mix of relative and absolute imports, with undetectable first-party c-extensions
# This makes import grouping more consistent
detect-same-package = false
known-third-party = [
  "__main__",
  # This forces distutils imports to always be after setuptools
  # setuptools must be imported before distutils because it monkey-patches it.
  # distutils is also removed in Python 3.12 and deprecated with setuptools
  "distutils",
]
extra-standard-library = ["setuptools"]
